a{outline:none;text-decoration:none}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
b{font-weight:normal}
body{font:100%  Arial,Helvetica,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{line-height:1;margin:0;padding:0}
caption,th{text-align:left}
fieldset,img,abbr,acronym{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
i{font-style:normal}
ol,ul{list-style:none}
q:before,q:after{content:''}
table{border-collapse:collapse;border-spacing:0}
ul.an{float:left;padding:2px 0;width:121px}
ul.an li{border-bottom:1px solid #8d0000;border-right:1px solid #8d0000;float:left;font-size:70%;text-transform:uppercase}
ul.an li a{background:#9e2627;color:#fff;float:left;font-weight:bold;padding:1px 2px 2px 1px;text-align:center;width:11px}
ul.an li a:hover,ul.an li a.s3{background:#fff;color:#8d0000}
ul.an li b{border:1px solid #9e2627;color:#9e2627;float:left;font-weight:bold;padding:0 1px 1px 0;text-align:center;width:11px}
.c{float:left;min-width:200px;width:33%}
.c .tb table{min-width:200px}
.c .tb table caption,#t3 .tb3 table caption{background:#444;color:#eee;font-size:70%;font-weight:bold;line-height:1.45em;padding:4px 10px 3px 10px;text-transform:uppercase;white-space:nowrap}
.c .tb,#t3 .tb3{border:1px solid #ddd;margin:5px 15px 10px 0}
.cg2 .c2,.cg4 .c1{width:66%}
.ct a,#t3 table td a,#t3 li h3 a{border-bottom:1px dotted #ccc;color:#8d0000}
.ct a:hover{border-bottom:1px solid #8d0000}
.cx .tb{margin:5px 0 0 0}
.g{background:url(../i/bsG.png) 0 0 no-repeat;overflow:hidden;padding:6px 0 0 0/*margin:0 200px 0 0*/}
.g .m{float:left;overflow:hidden}
.g .m .w,#t3 .ut2,.cg,#t0 form li{overflow:hidden}
.g .u1{background:url(../i/bsGU1.png) 0 0 no-repeat;float:left;overflow:hidden;padding:6px 0 0 0;width:130px}
.g .ux{background:none;float:right}
.ln{overflow:hidden;padding:4px 12px 0 0;width:130px}
.ln li{margin:0 0 2px 10px;overflow:hidden}
.ln li a{background:url(../i/bsGU1LnLiA.png) 0 100% no-repeat;color:#333;float:right;font-size:70%;font-weight:bold;padding:6px 10px 6px 0;text-align:right;width:110px}
.ln li a.s3,.ln li a.s3:hover{background-image:url(../i/bsGU1LnLiAS3.png);color:#fff}
.ln li a:hover{background-image:url(../i/bsGU1LnLiAOn.png);color:#fff}
.m,.u,.u3 form,#ns .gn li,.u,#t0 form fieldset li.ix .fs2{float:left}
.tn{background:url(../i/searchNavRight.png) 100% 100% no-repeat;float:left;margin:0 0 8px 0;overflow:hidden;padding:0 40px 0 0}
.tn li{float:left;margin:0 2px 0 0}
.tn li a{background:url(../i/searchNavTab.png);color:#fff;float:left;font-size:70%;font-weight:bold;padding:7px}
.tn li a:hover,.tn li.g4 a,#t0 form li.ix li button:hover{background:url(../i/searchNavAOn.png)}
.tn ul{background:url(../i/searchNavLeft.png) 0 100% no-repeat;overflow:hidden;padding:0 30px}
.u form{clear:both;overflow:hidden}
.u form #ADVANCED h3{background:#9e2627;border:0 none;cursor:pointer;outline:none;padding:5px 5px 3px 5px}
.u form #ADVANCED h3 a{color:#fff}
.u h3{border-bottom:1px solid #9e2627;color:#fff;font-size:70%;font-weight:bold;margin:0 0 5px 0;padding:0 0 2px 0}
.u2{margin:14px 0;padding:0 13px}
.u3{border-left:1px dotted #9e2627;margin:14px 0 0 0;padding:0 13px}
.u3 form input{color:#333;font:11px Arial,Helvetica,sans-serif;margin:0 8px;padding:2px 4px 2px 4px;width:50px}
.u3 form label{color:#fff;font-size:70%}
.ux{height:8em}
.gx{background:url(../i/bsUxGx.png) 0 0 no-repeat;bottom:0;height:73px;right:0;width:201px}
.ux h1{background:url(../i/bsUxH1.png) 0 0 no-repeat;height:70px;right:177px;top:1px;width:153px}
.ux h1,.ux h2,.ux .gx{position:absolute;text-indent:-5000px}
.ux h2{background:url(../i/bsUxH2.png) 0 0 no-repeat;height:77px;right:0;top:0;width:202px}
.xb,.xr,.xl{display:block;zoom:1}
.xb:after{clear:both}
.xl:after{clear:left}
.xr:after{clear:right}
.xr:after,.xl:after,.xb:after{content:".";display:block;height:0;visibility:hidden}
#bs{background:url(../i/bs.png) 0 0 repeat-x;overflow:hidden;padding:0}
#bs .g{position:relative}
#bs .g .m{background:url(../i/right2.png) 100% 100% no-repeat;overflow:hidden;padding:0 22px 0 0}
#bs .g .m .w{background:url(../i/bsGMW.png) 0 100% no-repeat;min-height:8em;padding:0}
#ns{background:#333 url(../i/ns.png) 0 100% repeat-x}
#ns .gn{overflow:hidden;padding:6px 0 0 12px}
#ns .gn li a{color:#fff;float:left;font-size:75%;font-weight:bold;margin:0 2px 0 0;padding:10px 9px}
#ns .gn li a.s3{background:#535353 url(../i/nsLiAS3.png) 0 100% repeat-x}
#ns .gn li a:hover{background:#444 url(../i/nsLiAOn.png) 0 100% repeat-x}
#t0{background:#8d0000 url(../i/test.png) 100% 0 repeat-x;overflow:hidden;border-bottom:40px solid #dddddd}
#t0 #cluetip{background:url(../i/_a2.png) 0 0 no-repeat;padding:10px 0 0 0}
#t0 #cluetip-close,#t0 .jqmClose{background:url(../i/t0CtClose.png) 0 0 no-repeat;cursor:pointer;float:right;height:11px;margin:0 0 3px 0;text-indent:-5000px;width:11px}
#t0 #cluetip-close:hover,#t0 .jqmClose:hover{background-position:0 -11px}
#t0 #cluetip-inner{background:url(../i/_a2.png) -220px 0 repeat-y;color:#333;font-size:70%;line-height:1.35em;overflow:hidden;padding:0 10px 0 15px;width:195px}
#t0 #cluetip-outer{background:url(../i/_a2.png) -440px 100% no-repeat;padding:0 0 12px 0;width:220px}
#t0 .g2,#t1 .lc,#t3 .ut1 legend,legend{display:none}
#t0 .g5{background:url(../i/t0G3.png) 0 1px no-repeat;cursor:pointer;margin:0 0 0 2px;padding:0 11px 0 0}
#t0 .g5:hover,#t0 .cluetip-clicked{background-image:url(../i/t0G3On.png)}
#t0 .jqmOverlay{background-color:#000}
#t0 .jqmWindow{background:url(../i/_a1.png) -682px 100% no-repeat;color:#333;display:none;left:50%;margin-left:-170px;padding:0 0 10px 0;position:fixed;top:17%;width:341px}
#t0 .jqmWindow .body{background:url(../i/_a1.png) -341px 0 repeat-y;overflow:hidden;padding:0 15px}
#t0 .jqmWindow form{background:url(../i/_a1.png) 0 0 no-repeat;padding:10px 0 0 0}
#t0 .jqmWindow h2{border-bottom:1px solid #eee;color:#8d0000;font-size:95%;font-weight:bold;margin:0 0 4px 0;padding:5px 0 2px 0}
#t0 .u2 form fieldset.i1 label{float:none !important;margin:0;text-align:left !important;width:auto !important}
#t0 .u2 label{color:#fff;float:left;font-size:70%;font-weight:bold;margin:0 8px 0 0;padding:4px 0 0 0;text-align:right;width:9em}
#t0 .u3 label{float:left;margin:0 8px 0 0;padding:4px 0 0 0}
#t0 .u3 select{margin:0 0 0.8em 0}
#t0 form #BASIC fieldset ol .ix ol,
#t0 form #ADVANCED ol .ix ol {overflow:hidden; }
#t0 form #BASIC fieldset ol ol li.ix{background:url(../i/searchBtnRight.png) 100% 0 no-repeat;margin:10px 0 0 0;padding:0 40px 0 0px;float:left}
#t0 form #BASIC fieldset ol ol ol li.i1{background:none;margin:0 2px 0 0;padding:0}
#t0 form #BASIC fieldset ol ol ol li.ix{background:none;margin:0;padding:0}
#t0 form #BASIC ol li.ix ol{background:url(../i/searchBtnLeft.png) 0 0 no-repeat;display:block;padding: 0 0 0 30px}
#t0 form button{background:#9e2627;border:0 none;color:#fff;font:bold 70% Arial,Helvetica,sans-serif;padding:2px 3px}
#t0 form fieldset input.ff3{margin:4px 4px 0 0}
#t0 form fieldset li.ix{padding:2px 0 0 0}
#t0 form fieldset li.ix .fs1{padding:0 0 0 8px}
#t0 form fieldset li.ix .fs2 label{font-weight:normal;width:auto}
#t0 form fieldset ol li.ix{background:none;float:none}
#t0 form fieldset.fs1 label{font-weight:normal;text-transform:lowercase;width:auto}
#t0 form fieldset.fs2 label.i2,#t0 form fieldset.fs3 label{width:auto}
#t0 form fieldset.fs3 label.i1{width:12em}
#t0 form fieldset.i1{position:relative}
#t0 form fieldset.i1 h3{background:none;border:0 none;float:left;margin:0 8px 0 0;padding:4px 0 0 0;text-align:right;width:9em}
#t0 form fieldset.i1 label{color:#333;font-weight:normal;left:10.4em;position:absolute}
#t0 form li li{padding:2px 0}
#t0 form li select,#t0 form li.i9 select{margin:0 8px 0 0}
#t0 form li.i1,#t0 .u form li.i3,#t0 .u form li.i6,#t0 .u form li.i8,#t0 .u form li.i9{border-bottom:1px solid #9e2627;margin-bottom:3px;padding-bottom:5px}
#t0 form li.i9 input{margin:0;width:90px}
#t0 form li.i9 label{margin:0 8px 0 0;width:auto}
#t0 form li.i9 label.i1{width:9em}
#t0 form li.ix li{background:none;color:#fff;float:left;font-size:70%;padding:7px 5px 7px 7px;margin: 0 2px 0 0}
#t0 form li.ix li a{background:none;border-bottom:1px dotted #9e2627;color:#e2bfbf;font-size:100%;padding:0}
#t0 form li.ix li a:hover{border-bottom:1px solid #fff;color:#fff}
#t0 form li.ix li button{background:url(../i/searchNavTab.png);font-size:100%;margin:0 !important;padding:4px}
#t0 form li.ix li.i3,#t3 .ut2 li.ix,#t0 form ol li.ix li{border:0 none}
#t0 form li.ix ol{/*float:right*/}
#t0 form ol li li.ix{border-top:0 none;margin:0 0 8px 0;overflow:hidden;}
#t0 form ol li.ix{background:url(../i/searchBtnRight.png) 100% 0 no-repeat;padding: 0 30px 0 0}
#t0 form ol li.ix li button{cursor:pointer;}
#t0 form ol li.ix li.i1{margin-bottom:3px;padding-bottom:5px}
#t0 form ol li.ix li.ix{border:0 none;margin:0;padding:0}
#t0 form ol li.ix ol{background:url(../i/searchBtnLeft.png) 0 0 no-repeat;padding-left:20px}
#t0 input,select{color:#333;float:left;font:11px Arial,Helvetica,sans-serif;margin:0 8px 0 0;padding:2px 4px}
#t1{background:#ddd url(../i/t1.png) 100% 0 repeat-y;color:#444}
#t1 .ct{margin:0 15px}
#t1 .ct p,#t0 .jqmWindow p{color:#333;font-size:70%;line-height:1.45em;margin:0 0 0.8em 0}
#t1 .g1{background:url(../i/t1G1.gif) 0 0 no-repeat;height:24px;left:50%;margin:0 0 0 -12px;position:absolute;text-indent:-5000px;top:30%;width:24px}
#t1 .lc li{font-size:70%;line-height:1.45em;padding:0 15px}
#t1 .lc li a{border-bottom:1px dotted #bbb;color:#444;font-weight:bold}
#t1 .lc li a.g2{border:0 none;float:left;height:10px;margin:3px 5px 0 0;text-indent:-5000px;width:10px}
#t1 .lc li a:hover{border-bottom:1px solid #8d0000;color:#8d0000;font-weight:bold}
#t1 .lc li li{font-size:100%;padding:0 0 0 10px}
#t1 .ph{background:url(../i/t1W.png) 100% 0 no-repeat}
#t1 .ph h1{border-bottom:1px solid #ccc;color:#666;font-size:105%;font-weight:bold;margin:0 15px;padding:15px 0 3px 0}
#t1 .ph h2{color:#666;font-size:70%;font-weight:bold;line-height:1.45em;margin:0 15px 10px 15px;padding:4px 0;text-align:right}
/*#t1,#t2,#t3{border-top:5px solid #ddd}*/
#t2{background:#fff url(../i/t2.png) 0 0 repeat-y}
#t2 .ut a{background:url(../i/t2UtA.png) 0 0 no-repeat;float:left;height:16px;text-indent:-5000px;width:18px}
#t2 .ut a.s1{background-image:url(../i/t2UtAS1.png)}
#t2 .ut a.s1:hover{background-image:url(../i/t2UtAS1On.png)}
#t2 .ut a:hover{background-image:url(../i/t2UtAOn.png)}
#t3{background:#fff url(../i/t3.png) 0 0 repeat-y;padding:0 0 0 15px;position:relative}
#t3  h3{color:#8d0000;font-size:70%;margin:0.4em 0 0.2em 0}
#t3 .ct p{color:#333;font-size:70%;line-height:1.45em;margin:0.3em 0 0.8em 0}
#t3 .hm .c .tb  table th{text-align:right;text-transform:none;width:75px}
#t3 .hm .c .tb table th,#t3 .tb3 table th{white-space:normal;vertical-align:top;border:0 none;border-right:1px solid #e6e6e6;color:#444;font-weight:bold;text-transform:none}
#t3 .hm .c .tb table tr.z1 th,#t3 .tb3 table tr.z1 th{background:#f5f5f5}
#t3 .hm .c .tb table tr.z2 th,#t3 .tb3 table tr.z2 th{background:#f0f0f0;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;padding:3px 10px 2px 10px}
#t3 .hm .c .tb table tr.z2:hover td,#t3 .tb3 table tr.z2:hover td{background:#f9f9f9}
#t3 .hm .c .tb table,#t3 .tb3 table{margin:0}
#t3 .hm .c .tb2 table th{background:#f0f0f0;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;padding:3px 10px 2px 10px;text-align:left}
#t3 .hm li{background:#efefef;margin:3px 0 0 0;-moz-border-radius:5px;padding:5px 5px 4px 5px;-webkit-border-radius:5px}
#t3 .hm li ul{padding:0.4em 0 0 0}
#t3 .hm li ul li{font-size:70%;line-height:1.55em;margin:0;padding:0}
#t3 .hm li ul li label{float:left;font-weight:bold;padding:0 1em 0 0;text-align:right;width:13em}
#t3 .hm ul li li{font-size:100%;margin:0 !important;padding:0 0 0 14em !important}
#t3 .hm ul li ul,#t0 form li.ix li.i4,#t0 form li.ix li.ix{padding:0}
#t3 .ph h1{border-bottom:1px solid #eee;color:#8d0000;font-size:105%;font-weight:bold;padding:15px 0 3px 0;text-transform:capitalize}
#t3 .ph h2{color:#777;float:left;font-size:70%;font-weight:bold;line-height:1.45em;margin:0;padding:4px 0}
#t3 .ph,#t3 .ct{margin:0 30px 0 0}
#t3 .ut1{background:#ddd url(../i/t3Ut1.png) 0 100% no-repeat;float:right;padding:0 5px 3px 0}
#t3 .ut1 .g1{position:absolute;right:24em;text-align:right;white-space:nowrap}
#t3 .ut1 .g1 label.s2{color:#990000 !important;font-weight:bold;text-align:right}
#t3 .ut1 button{background:none;background:#ccc;border:0 none;color:#444;cursor:pointer;float:left;font-size:70%;font-weight:bold;padding:3px}
#t3 .ut1 button:hover{background:#8d0000;color:#fff}
#t3 .ut1 fieldset{float:left;position:relative}
#t3 .ut1 h3{color:#444;float:left;font-size:70%;font-weight:bold;margin:0;padding:5px 5px 2px 10px}
#t3 .ut1 input{border:0 none;float:left;padding:3px 3px 2px 3px;width:70px}
#t3 .ut1 label{color:#666;font-size:70%;left:4px;position:absolute;top:5px}
#t3 .ut2{background:url(../i/t3Ut2.png) 0 0 no-repeat;padding:0 0 6px 0}
#t3 .ut2 li{border-right:1px solid #ccc;color:#666;float:left;font-size:70%;line-height:1.45em;margin:4px 0;padding:0 8px}
#t3 .ut2 li a{border-bottom:1px dotted #bbb;color:#666}
#t3 .ut2 li a:hover,#t3 table td a:hover{border-bottom:1px solid #8d0000;color:#8d0000}
#t3 .ut2 li.i1{color:#8d0000;font-weight:bold;padding:0 8px 0 0}
#t3 h2{border-bottom:1px dotted #eee;color:#333;font-size:75%;font-weight:bold;letter-spacing:0.03em;margin:1.4em 0 0.6em 0;text-transform:uppercase}
#t3 li h3{color:#333;font-size:70%;font-weight:bold;margin:0;padding:2px 0 1px 0}
#t3 li h3 a.g2{border:0 none;float:left;height:10px;margin:1px 5px 0 0;text-indent:-5000px;width:10px}
#t3 li h3 a.s1,#t1 .lc li a.s1{background:url(../i/aS1.png)}
#t3 li h3 a.s1:hover,#t1 .lc li a.s1:hover{background-image:url(../i/aS1On.png)}
#t3 li h3 a.s2,#t1 .lc li a.s2{background:url(../i/aS2.png);border:0 none}
#t3 li h3 a.s2:hover,#t1 .lc li a.s2:hover{background-image:url(../i/aS2On.png)}
#t3 table{border-collapse:collapse;margin:5px 0 0 0;width:100%}
#t3 table td{border-left:1px solid #efefef;color:#444;font-size:70%;line-height:1.45em;padding:3px 10px 2px 10px;vertical-align:top}
#t3 table th{background:#444;border-left:1px solid #555;color:#eee;font-size:70%;font-weight:bold;line-height:1.45em;padding:4px 10px 3px 10px;text-transform:uppercase;white-space:nowrap}
#t3 table tr.z1 td,#t3 .hm .c .tb table tr.z1:hover td,#t3 .tb3 table tr.z1:hover td{background:#fff}
#t3 table tr.z2 td{background:#f9f9f9;border-bottom:1px solid #efefef;border-top:1px solid #efefef;padding:2px 10px 1px 10px}
#t3 table tr:hover td{background:#efefef}
#t3 th.header{background:#444 url(../i/thS1.png) 100% 50% no-repeat;cursor:pointer;margin:0 0 0 10px}
#t3 th.headerSortDown{background:#8d0000 url(../i/thS3.png) 100% 50% no-repeat}
#t3 th.headerSortUp{background:#8d0000 url(../i/thS2.png) 100% 50% no-repeat}
#t3 ul.s1 li{font-size:70%;line-height:1.45em}